body {
	background-color: black;
	color: white;
	font-family: verdana;
}

.penguinBG {
	margin-top: 10px;
	margin-left: 40px;
	margin-bottom: -20px;
	width: 150px;
	/*
	border-radius: 1px;
	border: 2px solid black;
	border-bottom: 50px solid blue;
	padding-bottom: -50px;
	*/
}

.penguinLine {
	border-top: 1px dashed white;
	width: 300px;
	margin-bottom: 50px;
	margin: auto;
	font-size: 150%;
}

#comingSoon {
	margin: 0px auto;
	width: 300px;
	border: 1px dashed white;
	padding-bottom: 8px;
}

a {
	color: white;
	text-decoration: none;
	font-size: 80%;
}
	
	a:hover {
		text-decoration: underline;
	}

	a:visited {
		color: white;
		text-decoration: none;
	}

p { 
	font-size: 80%;
}